@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
    color: azure;
    border-radius: 4px ;
    background-color: rgb(74, 74, 78);
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 0.2rem;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}